<%= erb :'_errors' %>

<form method="POST" action="/login">
    <input type="text" name="user_name" placeholder="Username">
    <input type="password" name="password_hash" placeholder="Password">
    <input type="submit" value="Login" class="button">
</form>

<!-- <a href="users/new"> Create Account </a> -->
